<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:sales_totals) %>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-body">
    <%= render partial: 'spree/admin/shared/report_order_criteria' %>
  </div>
</div>

<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [ <% @totals.each do |key, row| %>
                    '<%= key %>',
                  <% end %>
                ],

        datasets: [{
            label: 'Sales By Currency',
            data: [<% @totals.each do |key, row| %>
                        '<%= row[:sales_total] %>',
                    <% end %>
                  ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }
});
</script>
